.input{
    display: inline-block;
    margin: 1.5vmin;
    
  }
  
.input > input{
    float: right;
  }
  
.input > label{
    font-size: calc(5px + 2vmin);
    text-align: left;
    float: left;
    clear: left;
    margin-right: 1vmin;
  }
  

  