.App-link {
    color: #61dafb;
  }

.link{
    margin: 1vh;
    color: papayawhip;
    font-size: calc(2px + 2vmin);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


